.schedule-container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .schedule-title {
    text-align: center;
    margin: 1.5rem 0;
  }
  
  .room-column {
    h2 {
      text-align: center;
      margin-top: 20px;
      padding-top: 10px;
    }
  }
  