.schedule-slot {
    .card {
      border: none;
      margin-bottom: 10px;
  
      .card-body {
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
      }
    }
  
    .font-weight-bold {
      font-weight: 700 !important;
    }
  }
  