body {
  background-color: #f8f9fa;
  color: #343a40;
}

h1, h2 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  padding-top: 10px;
}

.card {
  border: none;
  margin-bottom: 10px;
}

.card-body {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

h4 {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #343a40;
  color: #fff;
  border-radius: 0.25rem;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.container {
  max-width: 960px;
}

.text-center {
  text-align: center;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
